
  <section id="accueil" class="section-padding wow fadeInUp delay-05s">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 -item padding-right-zero mr-btn-15">
                
               <div class="card-header">Accessoires</div>
  <div class="card-body">
    <h5 class="card-title">Light card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
             </div>
           <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
              <div class="card-header">Arts</div>
                 <div class="card-body">
                    <h5 class="card-title">Dark card title</h5>
                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
                 
                 <div class="card-header">Creation</div>
                   <div class="card-body">
                      <h5 class="card-title">Info card title</h5>
                       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
                  
                 <div class="card-header">Mode</div>
                    <div class="card-body">
                       <h5 class="card-title">Primary card title</h5>
                       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                   </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
                    <div class="card-header">Tendances</div>
                    <div class="card-body">
                      <h5 class="card-title">Secondary card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
               
                <div class="card-header">Divers</div>
                <div class="card-body">
                  <h5 class="card-title">Warning card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
          </div>
        </div>
      </section>

      
